#Svelte kit build files
build/
.svelte-kit/

#Development files
.env
users_database.db

#IDE related folders
.vscode
.idea

#can be created by build scripts
__pycache__/

#Mac related folders
.DS_Store


#npm
node_modules/


#AWS installer
AWSCLIV2.pkg
