#Rust related folders
ledger-models-rust/target
ledger-models-rust/protos
valuation-service/target

#Java / Gradle related folders (Java build)
.gradle

#Python related folders
.pytest_cache
__pycache__
*egg-info

#Build related folders:
build/
dist/
out/
target
target/**

#IDE related folders
.vscode
.idea

#Mac related folders
.DS_Store


#npm
ledger-models-javascript/protos
node_modules/