@import "variables";

.portfolio_container {
    height: 100%;
    width: 100%;
    background-color: $primary-color;
    overflow: auto;
    padding: 28px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
    background-color: $bgc-color;
    color: $white;
}

tr:hover {
    background-color: $bgc-color;
    cursor: pointer;
}

.text-3xl {
    font-size: 36px;
}

.font-extrabold {
    font-weight: 800;
}

.my-3 {
    margin-bottom: 24px;
}

.text-semibold {
    font-weight: 600;
}

.text-lg {
    font-size: 18px;
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table-width {
    width: 25%;
}

.capitalize {
    text-transform: capitalize;
}

.table-row {
    border-bottom: 1px solid #ddd;
}

.table-cell {
    padding: 10px;
}