$bgc-color: #0c3a46;
$primary-color: #1b6f85;
$primary-button: #258ea8;
$border-color: #164e63;

$success: #7cd2ba;
$error: #c43d5a;
$brightwhite: white;
$white: whitesmoke;
$tealwhite: #edfbfd;
$tealblack: #edfbfd;
$tealdarker: #7a969a;
$black: #05192a;
$grey: #86929c;
$ltgrey: #a0adb7;
$transpblack: #05192a59;
$bordercoltransp: #164e63;

$bd-radius: 6px;

$breakingpoint_medium: 1200px;
$breakingpoint_mobile: 600px;