.button {
  border: solid 1px red;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: blue;
}

/* login page */

.login_container {
  width: 60vw;
  height: 500px;
}

.branding {
  width: 100%;
}

/* left side */

.branding-image {
  background-image: url("./lib/images/brandimage01.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding-image-overlay {
  width: 90%;
  height: 90%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.branding-image-overlay p {
  width: 70%;
}
/* right side */

.branding-form {
  position: absolute;
  left: 40%;
  width: 60%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
