@import "./style.scss";

// Login page ****************

// login page container and default
.loginpage_bgc_overlay {
  background-color: $background-color;
  position: absolute;
  z-index: 2;

  .login_container {
  width: 60vw;
  height: 500px;


    .branding-form {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
}

.form_btn {
      background-color: $primary-color;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: $primary-button;
      }
}

// login branding section - left side
.branding-image {
  background-image: url("./lib/images/brandimage01.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .branding-image-overlay {
  width: 90%;
  height: 90%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  .logo {
    color: $white;
  }

  p {
    width: 70%;
  }

  button{
    font-weight: bold;
  }
}
}

// login form section - right side
.form{
  height: 60vh;


  .form_container {
    width: 20vw;
    position: relative;
    left: 3vw;
    @include flex(column, space-between, null, 1em);

  .form_headline {
    font-size: 1.5rem;
    color: $primary-color;
  }

  // sign up form
  .sign_up_fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto ;
  gap: .5em;
  width: 300px;
  height: 30vh;

  label{
    height: max-content;
    position: relative;
    input{
      width: 100%;
      height: 2.5em;
      color: $grey;
    }
  }

  label:nth-child(1){
   grid-column: 1/2;
  }
  label:nth-child(2){
   grid-column: 2/-1;
  }
  label:nth-child(3){
   grid-column: 1/-1;
  }
  label:nth-child(4){
   grid-column: 1/-1;
  }
  label:nth-child(5){
   grid-column: 1/-1;
  }
  label:nth-child(6){
   grid-column: 1/-1;

   button{
     width: 100%;
   }
  }

  .togglePasswordDisplayIcon_signUp{
     position: absolute;
     top: 15%;
     right: 5%;
     transition: all .5s ease-in-out;
     cursor: pointer;
     color: $grey;
  }


}

// sign in form
  .sign_in_fields {
    @include flex(column, center, null, 0);
    gap: 1em;

    span {
      color: $grey;
      font-size: 1rem - 0.2rem;
      margin-bottom: 1em;
    }

    .checkIsPasswordVisible {
      outline: none;
      border: solid 1px $border-color;
      appearance: none;
      background-color: white;
      transition: all 0.5s ease-in-out;

      &:checked {
        outline: none;
        border: none;
        appearance: none;
        background-color: $primary-color;
      }
    }


    .passwordField{
      position: relative;
      .togglePasswordDisplayIcon{
        position: absolute;
        top: 50%;
        right: 5%;
        transition: all .5s ease-in-out;
        cursor: pointer;
      }
    }


  }



  .divider {
    color: $grey;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-size:.8rem;

    .one,
    .two {
      position: absolute;
      top: 50%;
      width: 20%;
      color: $grey;
    }

    .one {
      left: 20%;
    }

    .two {
      right: 20%;
    }
  }

  .google_OAuth {
    button {
      width: 100%;
      background-color: white;
      border: solid 1px $grey;
      color: $grey;
      transition: all 0.5s ease-in-out;
      @include flex(row, center, center, 1em);

      &:hover {
        background-color: $primary-color;

        span {
          color: $white;
        }
      }
    }
  }
   }
}





