@import "styles/variables";
@import "styles/mixins";

.glass_background {
  @include glass-background;
}



.notSupported {
  color: $grey !important;
  font-weight: bold;
}

.centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body-cover {
  background-color: $bgc-color;
  position: absolute;
}

.button {
  @include button-style;
}


.navigation_bar {
  height: 10vh;
  padding: 1em;
  background-color: $bgc-color;
  @include flex(row, space-between, center, 1em);

  .logo {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 3em;
    cursor: pointer;
    @include flex(center, center, row, 0.5em);
  }

  .navigation_links {
    :is(ul) {
      @include flex(row, center, center, 1em);
      width: 60vw;

      li {
        padding: .6em 1em;
        position: relative;
        cursor: pointer;
        @include flex(row, center, center, 1em);

        &:not(:first-child)::before {
          content: '';
          width: 0;
          height: 2px;
          background-color: $primary-color;
          position: absolute;
          bottom: -1%;
          border-radius: $bd-radius;
          left: 0%;
          transform: translateX(-50%);
          transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
        }

        &:hover::before {
          width: 95%;
          left: 50%;

        }

        a {

          @include flex(row, center, center, .5em);


        }
      }

      li:first-child {
        border-radius: 50px;
        background-color: $success;
        transition: all .5s ease-in-out;
        color: $bgc-color;
        font-weight: bold;


        &:hover {
          background-color: $primary-color;
          color: $white
        }
      }

      li:last-child {
        @include flex(center, center, row, 0.4em);
        margin-left: 1em;
      }
    }
  }

  .contact {
    cursor: pointer;
  }
}






.form {
  height: 100%;


  .form_container {
    width: 25vw;
    position: relative;
    left: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 50px);
    gap: 1em;

    .form_headline {
      font-size: 1.5rem;
      color: $primary-color;
      grid-area: 1/1/1/1;

    }



  }

}