name: Publish package to GitHub Packages
on:
  push:
    branches: [main]
defaults:
  run:
    shell: bash
    working-directory: ledger-models-java
jobs:
  publish:
    runs-on: ubuntu-latest 
    permissions: 
      contents: read
      packages: write 
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
         java-version: '18'
         distribution: 'adopt'
    - name: Echo working directory
      run: echo pwd
    - name: Show working directory contents
      run: ls -all
    - name: Output Run Number
      run: echo Run number is ${{ github.run_number }}, which will be used for artefact versions
    - name: Execute Gradle build
      run: ./gradlew publish
      env:
        PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
        run_number: ${{github.run_number}}
